<div id="footer">
  <%= link_to _("Contact {{site_name}}", :site_name => site_name), help_contact_url %>
  | <a href="https://facebook.com/askyourgovug">
      <%= image_tag 'facebook-16.png', :alt => 'facebook icon', :class => 'facebook-icon' %><%= _("Follow us on Facebook") %></a> 
  | <a href="https://twitter.com/<%= AlaveteliConfiguration::twitter_username %>">
      <%= image_tag "twitter-16.png", :alt => "twitter icon", :class => "twitter-icon" %><%= _("Follow us on twitter") %></a>
  <%= render :partial => 'general/credits' %>
</div>
<div class="after-footer">&nbsp;</div>
